# Datasets
data/raw/

# Outputs
outputs/

# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/weights/

# mlflow setup
configs/mlflow.env
notebooks/
data/
outputs/
models/
.mlflow/
configs/secrets*

# node modules
app/frontend/node_modules/